# Crawler
requests==2.32.3
beautifulsoup4==4.12.3
gdown==6.0.0
 
# PDF parsing
pymupdf==1.24.9
 
# LangChain core
langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.4
 
# Vector DB
qdrant-client==1.11.3
langchain-qdrant==0.2.0
 
# AI
google-generativeai==0.8.3
openai==2.38.0

# UI
chainlit==1.3.2
flask==3.1.3
flask-cors==6.0.2
 
# Utilitários
python-dotenv==1.0.1
tiktoken==0.8.0
notebook==7.2.2